<h2>Contact us:</h2>

<form method="POST" action="https://formspree.io/tanjimotin21@gmail.com">
  <input type="email" name="email" placeholder="Your email">
  <textarea name="message" placeholder="Text Message"></textarea>
  <button type="submit">Send Text</button>
</form>