<div class='wrapper-image'></div>
<div class='logo-image'></div>
<div class="address">4164 Barnett St.,<br> Mayfair, Philadelphia, PA 19135<br>
Phone:215-624-0117</div>
<div class="cont">
<div  id="myImg"><a href="/cake">Cake</a> </div>
<div  id="myImg"><a href="/cookie">Cookie</a> </div>
<div  id="myImg"><a href="/muffin">Muffin</a> </div>
</div>


<div class="grid-container">


<div class="grid-item"><h4>HOURS</h4>
Tuesday-Friday 6am-6pm<br>
Saturday 6am-5pm<br>
Sunday-Monday Closed<br>

<h4>FROM OUR BENCH</h4>
WHAT'S HOT today
Caramel Apples!!!
Apple Dumplings
Cheese Squares
Pumpkin Bread

WHAT'S BAKING blog

THE SCOOP on us!



Celebrated 86 Years
7/7/16 with Fox 29's Bob
Kelly and birthday cake!
check it out..


85th Anniversary
Read the Inquirer
Article 7/8/15</div>

  <div class="grid-item" id="rightBox">

  	<div>
  		<h1>History:</h1>
	  <p>In 1927 German immigrant, August Haegele arrived in America with nothing but his dream of starting a bakery business. In about the same year, Helen Gildein, American born but resident of Hungary, returned to America with nothing but the desire to retain her American citizenship. By chance, the two met at a Fairmount Park hiking club and later joined their hands in marriage on June 25th, 1930. No time for a honeymoon... as the two embraced the American dream together. The newlyweds opened the front door to Haegele's Bakery on July 7th, 1930, with nothing more than the change they had in their pockets.In 1927 German immigrant, August Haegele arrived in America with nothing but his dream of starting a bakery business. In about the same year, Helen Gildein, American born but resident of Hungary, returned to America with nothing but the desire to retain her American citizenship. By chance, the two met at a Fairmount Park hiking club and later joined their hands in marriage on June 25th, 1930. No time for a honeymoon... as the two embraced the American dream together. The newlyweds opened the front door to Haegele's Bakery on July 7th, 1930, with nothing more than the change they had in their pockets.</p>
  	</div>
  	<div id="old-image"></div>     
  </div>

    
</div>
