<!DOCTYPE html>
<html>
<head>
	<title>Miftah Bakery</title>
	<link rel="stylesheet" type="text/css" href="../css/index.css">
</head>
<body>
<header>
<nav class="navbar">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/cake">Cake</a></li>
		<li><a href="/cookie">Cookie</a></li>
		<li><a href="/muffin">Muffin</a></li>
		<li><a href="/contact">Contact</a></li>
		
    </ul>
	
</nav>

</header>












<div class='main-container'>
	<%= yield %>
</div>













<script type="text/javascript" src="../javascript/index.js"></script>
</body>
</html>